<div class="row">
  <div class="column">
    <h3>Ask a Question</h3>
    <div class="callout">
    <h5>Question Criteria</h5>
    > Provide a title that is at least 40 characters long<br>
    > Provide a description that is at least 150 characters long
    </div>
    <%= render "/layouts/questionform" %>
  </div>
</div>
